@use '../utils' as *;

/*----------------------------------------*/
/*  2.5 Background
/*----------------------------------------*/
.grey-bg {
	background-color: var(--tp-grey-1);

	&-2 {
		background-color: var(--tp-grey-2);
	}
}

.theme-bg {
	background-color: var(--tp-theme-1);
}

.white-bg {
	background-color: var(--tp-common-white);
}

.black-bg {
	background-color: var(--tp-common-black);
}

























[data-bg-color="footer-bg-grey"] {
	background-color: var(--tp-footer-grey-1);
}

[data-bg-color="footer-bg-white"] {
	background-color: var(--tp-common-white);
}